{% extends 'EcoleDeMusiqueWelcomeBundle::layout.html.twig' %}

{% block title %}
    Etat Civil
{% endblock %}
{% block titlePage %}
    Etat Civil
{% endblock %}
{% block content %}  
    <style>

        table
        {
            border-collapse:collapse;   
        }
        .records_list tr:hover
        {
            background: #DCDCDC;
        }       

        .colonneId
        {
            width: 50px;
        }

        .colonneQf
        {        
            width: 100px; 
        }
    </style>



    <div id="header">
        <div id="nompage">
            <h1>Familles</h1>
        </div>
    </div>

    <div id="page">
        <div>
            <div class="post">
                <p>Liste des familles</p>
                <br />
                <div class="entry">

                    <table>
                        <thead>
                            <tr>
                                <th class="colonneId">Id eleve</th>
                                <th class="colonneQf">Qf</th>
                                <th class="colonneMembre">Nom famille</th>
                                <th class="colonneMembre">Prenom élève</th>
                                <th class="colonneMembre">Responsable</th>
                                <th class=""></th>
                                <!--  <th>Actions</th> -->
                            </tr>
                    </table>
                    <div style="max-height:750px;overflow-y: scroll;">
                        <table class="records_list">
                            {% for famille in familles %}
                                {% for eleve in famille.getEleves() %}
                                    <tr>
                                        <td class="colonneId">{{ eleve.id }}</a></td>
                                        <td class="colonneQf">{{ famille.qf }}</td>
                                        <td class="colonneMembre"><a href="{{ path('famille_membre', { 'id': famille.id }) }}">{{ eleve.nom }}</a></td>
                                        <td class="colonneMembre"><a href="{{ path('eleve_show', { 'id': eleve.id }) }}">{{ eleve.prenom }}</a></td>
                                        <td class="colonneMembre"> 
                                            {% if famille.responsable != NULL %}
                                                <a href="{{ path('eleve_show', { 'id': eleve.id }) }}">
                                                    {{ famille.responsable.nom ~ " " ~ famille.responsable.prenom }}   
                                                </a>
                                            {% else %}
                                                {{ "Pas de responsable designé"|upper }}
                                            {% endif %}
                                        </td>                                                
                                        <td>
                                            <a href="{{ path('famille_edit', { 'id': famille.id }) }}"><img src="{{ asset('bundles/ecoledemusiquewelcome/images/crayon.png') }}"></a>

                                        </td>
                                        <td>
                                            <a href="{{ path('famille_delete', { 'id': famille.id }) }}" onclick="return confirm('Êtes vous sur de vouloir supprimer cette famille?')"><img src="{{ asset('bundles/ecoledemusiquewelcome/images/recycle-bin.png') }}"></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <a href="{{ path('famille_new') }}">
                        Nouvelle Famille
                    </a>

                </div>
            </div>
        </div>
    </div>

{% endblock %}