{% extends 'EcoleDeMusiqueWelcomeBundle::layout.html.twig' %}

{% block title %}
        Etat Civil
{% endblock %}

      {% block content %} 
        
        <style>
    
        table
        {
            border-collapse:collapse;   
        }
        .records_list tr:hover
        {
              background: #DCDCDC;
        }       
              
       .sansRegie
       {
           background: #F2F4F4;
       }
                
         
        .colonneId
        {
                width:30px;
        }
       
        .colonneNom
        {
            width:120px;
        }
        
        .colonnePrenom
        {
          width:123px;
        }
        
        .colonneAdresse
        {
             width:350px;
        }
        
        .colonneCodepostal
        {
            width:72px;
        }
        
          .colonneVille
        {
            width:150px;
        }
        
        .colonneCivilite
        {   
            width:35px;
        }
        
        
        .colonneTeleleve
        {
             width:110px;
        }
        
        
        .colonneTelmere
        {
             width:110px;
        }
        
        
        .colonneTelpere
        {
             width:110px;
        }
        
        .colonneDatedenaissance
        {
            width:110px;
        }
        
        
        
        .colonneMail
        {
            width:230px;
        }
            
        
        
       #pageEtatCivil
       {
            overflow: hidden;
     
            margin: 0px auto;
            padding: 0px 0px;
            position : relative;
            min-height: 540px;
    
       }
        </style>
          
     	<div id="header">
		<div id="nompage">
			<h1>Etat Civil</h1>
		</div>
                <h2 class="title">Informations d'Etat Civil</h2>
                <p>Cette rubrique permet de consulter les informations relatives aux informations personnelles des élèves
                                 <a href="{{ path('eleve_new') }}"><h4>Ajouter un nouvel élève</h4> </a>
                                     
	</div>
        <div id="pageEtatCivil">
           
                  <div class="post">
                       
                             <div class="entry">
                                 
                                 
                                 </p>
                                 <br />
                                      <table>
                                            <tr>
                                                <th class="colonneId">Id</th>
                                                <th class="colonneNom">Nom</th>
                                                <th class="colonnePrenom">Prenom</th>
                                                <th class="colonneAdresse">Adresse</th>
                                                <th class="colonneCodepostal">CodePost</th>
                                                <th class="colonneVille">Ville</th>
                                                <th class="colonneCivilite">Civ</th>
                                                <th class="colonneTeleleve">Teleleve</th>
                                                <th class="colonneTelmere">Telmere</th>
                                                <th class="colonneTelpere">Telpere</th>
                                                <th class="colonneDatedenaissance">DateNaissance</th>
                                                <th class="colonneMail">Mail</th>
                                                <th></th>
                                            </tr>
                                        </table>
                                 <div style="max-height:800px;overflow-y: scroll;">
                                        <table class="records_list">
                                        {% for entity in entities %}
                                            <tr  {% if entity.regie==NULL %} class="sansRegie"{% endif %}>
                                                <td class="colonneId"><a href="{{ path('eleve_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                                <td class="colonneNom">{{ entity.nom }}</td>
                                                <td class="colonnePrenom">{{ entity.prenom }}</td>
                                                <td class="colonneAdresse">{{ entity.adresse }}</td>
                                                <td class="colonneCodepostal">{{ entity.codePostal }}</td>
                                                <td class="colonneVille">{{ entity.ville }}</td>
                                                <td class="colonneCivilite">{{ entity.civilite }}</td>
                                                <td class="colonneTeleleve">{{ entity.telEleve }}</td>
                                                <td class="colonneTelmere">{{ entity.telMere }}</td>
                                                <td class="colonneTelpere">{{ entity.telPere }}</td>
                                                <td  class="colonneDatedenaissance">{% if entity.dateDeNaissance %}{{ entity.dateDeNaissance|date('d-m-Y') }}{% endif %}</td>
                                                <td class="colonneMail">{{ entity.mail }}</td>
                                                <td>
                                                            <a href="{{ path('eleve_edit', { 'id': entity.id }) }}"><img src="{{ asset('bundles/ecoledemusiquewelcome/images/crayon.png') }}"></a>
                                                     
                                           
                                                               <a href="{{ path('eleve_delete', { 'id': entity.id }) }}" onclick="return confirm('Êtes vous sur de vouloir supprimer cet élève ?')"><img src="{{ asset('bundles/ecoledemusiquewelcome/images/recycle-bin.png') }}"></a>
                                                </td>
                                            </tr>
                                
                                        {% endfor %}
                                    </table>
                                </div>
                              
                               </div>
                       </div>
        
                                 
{% endblock %}