{% extends 'EcoleDeMusiqueWelcomeBundle::layout.html.twig' %}

{% block title %}
        Prof
{% endblock %}

      {% block content %} 
       <div id="header">
		<div id="nompage">
			<h1>Salles</h1>
		</div>
	</div>
            <div id="page">
                  <div class="post">
                       <h2 class="title">Liste des Salles </h2>
                             <div class="entry">
                                 <p>Liste des salles de l'établissement</p>
                                 <br />

                                    <table class="records_list">
                                        <thead>
                                            <tr>
                                              
                                                <th>Nom</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for entity in entities %}
                                            <tr>
    
                                                <td>{{ entity.nom }}</td>
                                                <td>
                                                            <a href="{{ path('salle_edit', { 'id': entity.id }) }}"><img src="{{ asset('bundles/ecoledemusiquewelcome/images/crayon.png') }}"></a>
                                                </td>
                                                  <td>
                                                            <a href="{{ path('salle_delete', { 'id': entity.id }) }}" onclick="return confirm('Êtes vous sur de vouloir supprimer cette salle?')"><img src="{{ asset('bundles/ecoledemusiquewelcome/images/recycle-bin.png') }}"></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                    <ul>
                                        <li>
                                            <a href="{{ path('salle_new') }}">
                                                Nouvelle salle
                                            </a>
                                        </li>
                                    </ul>
                                 
                                 
                                 </div>
                       </div>
              </div>
{% endblock %}